* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg-container-login {
  /* background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1729229000/image3_1_ac1jk3.jpg"); */
  background-image: linear-gradient(to bottom, #0c1ee2, #5b7dcd);

  min-height: 100vh;
  background-size: cover;
  overflow: auto;
  padding-bottom: 100px;
  background-color: #000;
}
.login-page {
  /* background-image: linear-gradient(to right, #000, green, #000); */
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 20px 0px 0px 20px;
  border-right: 1px solid #000;
  h4 {
    /* width: 180px; */
    text-align: center;
    color: white;
    background-color: #000;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px #c6ccc6;
    font-size: 30px;
    margin: 10px;
  }
}

@media (max-width: 576px){
  .login-page{
    display: none;
  }
}
.login-card {
  width: 40%;
  border-radius: 0px 20px 20px 0px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  color: #000;
}
@media screen and (min-width: 576px) {
  .login-card {
    width: 30%;
    border-radius: 0px 20px 20px 0px;
  }
}
@media (max-width: 576px){
  .login-card{
    width: 90%;
    border-radius: 10px;
  }
}
.login-user-input {
  font-weight: 700;
  padding-left: 10px;
  color: black !important;
}
.forgot-password {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  span {
    background-color: #323f4b;
    color: white;
    margin-top: 8px;
    padding: 2px 10px;
    border-radius: 4px;
  }
  span:hover {
    text-decoration: underline;
    color: blue;
  }
}
.error-msg {
  color: red;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  padding: 2px;
  border-radius: 4px;
  text-align: center;

  span {
    color: green;
  }
}

.change-password-container {
  background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1729229000/image3_1_ac1jk3.jpg");
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .change-password-card {
    background-color: #000;
    padding: 40px 30px;
    border-radius: 12px;
    /* height: 40vh; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;

    div {
      display: flex;
      flex-direction: column;

      label {
        font-size: 16px;
        font-weight: 500;
      }

      input {
        font-size: 16px;
        padding: 10px;
        border-radius: 6px;
        border: 3px solid red;
        outline: none;
        font-weight: 600;
        color: blue;
      }
    }
  }
  button {
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
  }
  .go-to-login {
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    span {
      background-color: white;
      color: black;
      width: 100px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      border-radius: 3px;
    }

    span:hover {
      text-decoration: underline;
      color: blue;
      cursor: pointer;
    }
  }
}
@media (max-width: 576px){
  .change-password-container{
    .change-password-card{
      width: 90%;
    }
  }
}
.register{
  background-color: #2c8cb88e;
}
.register:hover{
  background-color: #000;
  color: #fff;

}
.login{
  /* background-color: #0e91d7; */
  background-color: #082ccd;
  color: #fff;

}
.login:hover{
  background-color: #000;
  color: #fff;
}
.required-mark{
  color: red;
  font-size: 20px;
}