* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .pie-chart-container {
    /* margin: 20px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* height: auto; */
    background-color: #fff;
    border-radius: 12px;
    /* padding: 12px; */
    overflow: auto;
  }
  .p-chart1{
    border: 2px solid blue;
    padding: 10px;
    margin: 15px;
    border-radius: 12px;
    background-color: #fff;
  }
  @media (max-width: 576px){
    .p-chart1{
      border: none;
    /* width: 100%; */

    }
  }