* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clinical-bar-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 100%;
  /* width: 100vw; */
  overflow: scroll;
  /* padding-top: 30px; */
  margin: 15px;

}
@media (max-width: 576px){
  .clinical-bar-chart-container{
    margin: none;
  }
}
.clinical-bar-chart{
  border: 3px solid blue;
  padding: 10px;
  margin: 15px;
  border-radius: 12px;
  background-color: white;
  width: 70vw;
}
@media (max-width: 576px){
  .clinical-bar-chart{
    width: 80%;
    padding: 20px;
  border: 3px solid blue;

    text-align: center;
  margin: none;
  }
}