.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(8, 8, 58, 0.616);
}
.card {
  padding: 30px;
  width: 400px;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
}
