.grant-access-bg-container {
  padding: 0px 100px;
  background-color: #dadae3;
  height: 100vh;
  overflow: auto;
  padding-top: 10px;
  
}

@media (max-width: 768px) {
  .grant-access-bg-container {
    padding: 10px;
  }
}
.grant-access-page-container {
  display: flex;
  flex-direction: column;
}
.grant-access-page-heading {
  font-size: 22px;
  color: #000;
  font-weight: 600;
}
@media (max-width: 768px) {
  .grant-access-page-heading {
    font-size: 18px;
    text-align: center;
  }
}
.grant-access-users-dashboards-container {
  display: flex;
  gap: 5px;

  .users-section {
    flex: 1;
    /* background-color: #8eaee04d; */
    height: 93vh;
    box-shadow: 5px 5px 15px #0000004d;
    padding: 15px;
    overflow: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .dashboards-models-section {
    flex: 3;
    box-shadow: 5px 5px 15px #0000004d;
    padding: 15px;
    background-color: #fff;
  }
  .updating-dashboards-models-section {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 100%;
  }
}
.user-section-header {
    display: flex;
    justify-content: space-between;
}
.users-list-heading {
    font-size: 16px;
    font-weight: 600;
    color: #0c2cbd;
  }
.no-of-users{
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;

    span{
        color:#0c2cbd ;
    }
  }

  .list-of-users{
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 1px solid #80808094;
    padding: 10px;
}

@media (max-width: 768px) {
  .grant-access-users-dashboards-container {
    flex-direction: column;

    .users-section{
        overflow: auto;
        max-height: 60vh;
    }
  }
}
.user-search-container{
    width: 100%;
    padding: 2px;
    border: 2px solid #1d58c5;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.user-search{
    width: 100%;
    border: none;
    outline: none;
    padding: 4px 10px ;
    cursor: pointer;
    font-weight: 600;
}
.user-search-icon{
    font-size: 16px;
    cursor: pointer;
    color: #0c2cbd;
    /* border: 1px solid #0c2cbd; */
}
.users-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d58c54c;
    padding:6px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 3px 3px 3px #0000005c;
    color: #000;

    .card-name-icon{
      display: flex;
      align-items: center;

    }

}

.users-card:hover{
  background-color: #353dcb;
  transform: scale(1.04);
}
.highlight-user{
  background-color:#000000ca !important;
  color: #fff;

  .user-card-name{

    .user-search-icon{
    color: #fff;
    }
  }
}
.users-card-name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-weight: 600;
    font-size: 16px;

    
}
.userlist-search-icon{
  font-size: 16px;
cursor: pointer;
color: #0c2cbd;
}
@media (max-width: 576px){
  .users-card-name{
    font-size: 14px;
  }
}
.user-icon{
  font-size: 200px;
}
.user-card-name-role{
    font-weight: bold;
    /* opacity: 0.8; */
    color: #808080d1;
    margin: 0;
    font-size: 13px;

}
@media (max-width: 576px){
    .users-card{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #1d58c54c;
        padding:8px;
        border-radius: 6px;
    }
    .users-card-name{
        display: flex;
        align-items: flex-start;
        gap: 2px;
        /* justify-content: center; */
    }
    .user-card-name-role{
        padding: 0;
        font-size: 10px;
    }
}
.empty-user-list{
  font-weight: bold;
}

.roles-spinner {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #0522e1;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dashboards-section-header {
  display: flex;
  justify-content: space-between;
}
.dashboards-list-heading {
  font-size: 16px;
  font-weight: 600;
  color: #0c2cbd;
}
.upload-dashboards-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* z-index: 10; */
}

@media (max-width: 576px){
  .upload-dashboards-container{
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}
.dashboards-search-container{
  width: 50%;
  padding: 2px;
  border: 2px solid #1d58c5;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px)  and (max-width: 1024px){
  .dashboards-search-container{
    width: 80%;
  }
}
@media (max-width: 768px){
  .dashboards-search-container{
    width: 100%;
    height: 40px;
  }
}
.control-click{
  display: flex;
  align-items: center;
  gap: 10px;
}

.upload-shortcut{
  font-weight: 600;
  color: red;
  /* border: 1px solid #1d58c5; */
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
  /* background-color: #000; */
}
@media (max-width: 576px){
  .upload-shortcut{
    font-size: 13px;
  }
}
.new-icon{
  color: red;

  font-weight: 600;
  font-size: 16px;
}
.upload-btn{
  padding: 4px 10px;
  margin-top: 5px;
  border: 2px solid #1d58c5;
  border-radius: 6px;
  /* background-color: #1d58c5; */

  .icon{
  color: #1d58c5;
  }
}
.upload-btn:hover{
  background-color: #1d58c599;
  
  .icon{
    color: #fff;
  }
}
.view-all-dashboards-section{
  /* border: 1px solid #1d58c594; */
  overflow: auto;
  margin-top: 8px;
  height: 80vh;
  /* padding: 4px; */

}
.dashboard-details-section{
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: 0.6fr 0.8fr 3.5fr 2fr 2fr 3fr 0.6fr 1fr;
  padding: 4px 8px 0px 8px;
  border: 1px solid #80808094;
  /* border-bottom: none; */
  width: 120%;
  background-color: #e2e3e586;

  h3{
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  display: flex;
  align-items: center;
  /* text-align: center; */
  }
}
.border-top{
  border-top: 1px solid #80808094;

}
@media (min-width: 576px) and (max-width: 768px){
  .dashboard-details-section{
    width: 160vw;
  }
}
@media (max-width: 576px){
  .dashboard-details-section{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
   grid-template-columns: 0.6fr 0.8fr 3.5fr 2fr 2fr 3fr 0.6fr 1fr;
    width: 400%;
  border: 1px solid #80808094;

  }
}
.permission-buttons{
  display: flex;
  gap: 10px;
}
.no-dashboard-text{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  h1{
  font-size: 28px;

  }
}
.allow-checkbox{
  width: 20px;
  height: 30px;
  cursor: pointer;
}
.align-icon-text{
  display: flex;
  gap: 5px;
}
.time-icon{
  border-radius: 50%;
}
.modify-icon{
  font-size: 20px;
  cursor: pointer;
  /* text-align: center; */
}
.modify-icon:hover{
  transform: scale(1.1);
}
.delete-bg{
  color: #ff0000d4;
}
.edit-bg{
  color: #1d58c5;
}
.table-header-icon{
  color: #1d58c5;
}
.grant-access-page-info{
  font-size: 13px;
  padding: 0;
  margin: 0;
}
.active-user-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 5px;

  h1{
    font-size: 18px;
    font-weight: 600;
    span{
      color: #0522e1;

    }
  }
  button{
    font-size: 14px;
    padding: 4px 12px;
    border: none;
    background-color: #1d58c5;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px #000;
    font-weight: 600;
  }
}