.header-container {
    /* width: 80%; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 0px 100px;
    background-color: #2431c3;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
.user-icon{
    width: 28px;
    height: 28px;
    color: #fff;
    
}
.website-header {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10px; */
    /* padding: 12px; */
  }
  .website-heading {
    text-decoration: none;
    color: #fff;
  }
  .website-heading h1 {
    color: #000;
    font-family: "Roboto";
    font-size: max(2.2vw, 32px);
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 6px;
    background-color: #fff;
    /* letter-spacing: 2; */
  }

.user-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
  }

.user-symbol{
    margin-top: 20px;
    text-align: center;
    text-decoration: none;

    p{
        font-size: 12px;
        font-weight: 600;
    }
}
.home-button{
    background-color: #fff;
    color: #000;
    padding: 6px 12px;
    border-radius: 6px;

    button{
        border: none;
        background-color: transparent;
        font-weight: 600;
    }
}
#drop-option{
    text-decoration: none;
    background-color: antiquewhite;
    padding: 4px 10px;
    margin: 5px;
    color: red;
    font-weight: 700;
    border-radius: 4px;
}