* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.bi-home-heading h1 {
    color: #000;
    font-family: "Roboto";
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 6px;
    background-color: #fff;
    font-size: 28px;
}

.power-bidashboards {
    display: flex;
    flex-direction: column;
}

.bi-reporting-dashboards {
    /* background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1727805691/futuristic-digital-user-interface-dashboard_53876-115871_xeeybu.jpg"); */
    /* background-image: url("../../assets/PowerBIBg.jpg"); */
    /* background: linear-gradient(to left, #fff, #426fb2bf); */
    background-color: #fff;
    background-size: cover;
    min-height: 100vh;
    object-fit: cover;
}

.dashboard-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 20px;
    color: #000;
    display: flex;
    align-items: center;

}

.dashboard-title:hover {
    text-decoration: underline;
}

.dashboard-section {
    display: flex;
    gap: 50px;

}

.section-title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
}

.dashboard-grid {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 28px;
    padding: 16px;
}

.dashboard-card {
    background-color: white;
    /* height: 65vh; */
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    box-shadow: 0 4px 10px #4e4ec566;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
    flex-wrap: wrap;
    /* padding: 10px 0px; */
    /* padding-top: 10px; */
}

.dashboard-card:hover {
    transform: scale(1.01);
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    margin-top: 10px;
    color: #fff;

}

.bi-header-text {
    height: 8vh;
    /* border-bottom: 2px solid #0736df; */
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0d62cb;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.bi-dashboard-button {
    padding: 12px;
    background-color: #0d62cb7e;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 4px 6px #0000004d;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    border-top: 2px solid #000;
}

.bi-dashboard-button:hover {
    background-color: #1405ebe1;
    color: #fff;

    a:hover {
        color: #fff;
    }
}

.bi-dashboard-button a {
    text-decoration: none;
    color: #000;
    border-radius: 12px;
}

.dashboard-tabs {
    display: flex;
    padding: 4px;
    border-radius: 12px;
    color: #fff;
    gap: 4px;
}

.powerbi-dashboard-tab-item {
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
}

.powerbi-dashboard-tab-item:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}

.active-dashboard-btn {
    text-decoration: underline;
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.bi-home-container {
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 0px 100px;
    background-color: #2431c3;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.home-heading {
    text-decoration: none;
    color: #fff;
}

.home-heading h1 {
    color: #000;
    font-family: "Roboto";
    font-size: max(2.2vw, 32px);
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 6px;
    background-color: #fff;
}



.bi-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-user-symbol {
    text-align: center;
    text-decoration: none;

    p {
        font-size: 12px;
        font-weight: 600;
    }
}

.dashboard-data-model-image {
    width: 35px;
    border-radius: 6px;
    margin-right: 5px;
}

.dashboard-data-model-image-tab {
    width: 20px;
    border-radius: 10%;

}

.bi-arrow-down {
    transition: transform 0.75s;
    transform: rotate(180deg);
}

.bi-arrow {
    font-weight: 700;
    font-size: 22px;
}

.bi-drop-down {
    display: flex;
    gap: 30px;
    padding-top: 20px;

}

.bi-drop-down button {
    width: 80px;
    height: 40px;
    border: 1px solid #0e0e0e;
    background-color: #fff;
    color: red;
    font-weight: 600;
    border-radius: 6px;
    box-shadow: 3px 3px 0px #fff;
}

.bi-drop-down button:hover {
    background-color: red;
    box-shadow: 3px 3px 0px #000;
    color: white;
}

.bi-icon-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bi-username-text {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.bi-user-icon {
    width: 40px;
    height: 40px;
    color: #000;
    background-color: #fff;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #000;
}
.bi-tabs-list{
    position: relative;
    display: flex;
}
.bi-tab-list-heading{
    cursor: pointer;
    font-size: 13px;
    background-color: #2e2424cd;
    color: #fff;
    padding: 2px 8px;
    border-radius: 8px;
    font-weight: 600;
    border: 1px solid #fff;
}
.bi-tab-list-heading:hover{
    text-decoration: underline;
    background-color: #000;
}
.bi-arrow-1{
    font-size: 28px;
    font-weight: 600;
}
.bi-tab-list-view{
    position: absolute;
    top: 50px;
    z-index: 10;
    background-color: #3b3b40;
    padding: 12px;
    width: 20vw;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.insights-btn{
    color: #fff;
    margin-left: 10px;
    font-size: 13px;
    background-color: #2e2424cd;
    padding: 2px 10px;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.insights-btn:hover{
    text-decoration: underline;
    background-color: #000;
    color: #fff;
}
.insights-icon{
    font-size: 18px;
}